<div class="container">
  <h1 class="text-center">User List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button type="button"(click)="showEditUserForm(user)">Edit</button>

          <button type="button"  (click)="removeUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button  (click)="showAddUserForm()">Add New User</button>

      <div>
        <form *ngIf="userForm">
          <h2>Add New User</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="newUser.firstName" /></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="newUser.lastName" /></p>
          <p>Email: <input type="text" name="Email" [(ngModel)]="newUser.email" /></p>
          <p>
            <button type="button" (click)="saveUser(newUser)">Submit</button>
            <button type="button" (click)="cancelNewUser()">Cancel</button>
          </p>
        </form>
        <form *ngIf="editUserForm">
          <h2>Edit User Details</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="editedUser.firstName"/></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="editedUser.lastName"/></p>
          <p>Email: <input type="text" name="Email" [(ngModel)]="editedUser.email"/></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateUser()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
        </div>